textarea {
	max-width: 100%;
	min-width: 100%;
}

.navbar-toggle {
	float: left;
	display: inline-block;
	margin-left: 15px;
}
input.date {
	cursor: pointer !important;
}
#main-container {
	margin: 0 0 15px;
}

#shades {
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: none;
}

#sidebar {
	z-index: 1001;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #00b2ef;
	min-height: 100%;
	display: none;
	width: 320px;
}

.side-nav {
	padding: 0 15px;
}

.side-nav ul {
	list-style: none outside none;
	padding: 0 40px 0 0;
	margin-bottom: 0;
}

.side-nav li > ul {
	display: none;
	padding: 0 0 4px 4px;
}

.side-nav li > ul {
	border-left: thin solid #e6e6e6;
}

.side-nav li {
	border-bottom: thin solid #e6e6e6;
}

.side-nav li:last-child {
	border-bottom: none;
}

.side-nav a {
	color: black;
	font-size: 2em;
	line-height: 2.2em;
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
}

.side-nav a:hover {
	color: #e6e6e6;
	text-decoration: none;
}

.side-nav a.active {
	color: #6DF1F1;	
}

.subnav-icon {
	position: absolute;
	left: 260px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.form-section {
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	width: 100%;
	float: left;
	margin-bottom: 15px;
	padding: 5px 5px 0;
}
