<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/emmbb.css">
	</head>
	<body>
		<header role="banner" id="top" class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<div class="container-fluid">
					<div class="navbar-header">
						<button id="sidebar-button" type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">EMM One UI Customer Analytics MC Next PoC</a>
					</div>
				</div>
			</div>
		</header>
			<section id="sidebar">
				<nav role="navigation" id="navigation" class="side-nav">
					<ul>
						<li>
							<a href="#" class="subnav-label">Learn</a>
							<ul>
								<li>
									<a href="#">Hotwheels Report</a>
								</li>
								<li>
									<a href="#">Barbie Reports</a>
								</li>
								<li>
									<a href="#">All Reports</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="subnav-label">Plan</a>
							<ul>
								<li>
									<a href="#" class="subnav-label">Projects</a>
									<ul>
										<li>
											<a href="#">Hotwheels Project</a>
										</li>
										<li>
											<a href="#">Barbie Project</a>
										</li>
										<li>
											<a href="#">All Projects</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Tasks</a>
								</li>
								<li>
									<a href="#">Budgets</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="subnav-label">Design</a>
							<ul>
								<li>
									<a href="#">Communications</a>
								</li>
								<li>
									<a href="#/design/blueprint">Blueprints</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="subnav-label">Build</a>
							<ul>
								<li>
									<a href="#/build/campaign">Campaigns</a>
								</li>
								<li>
									<a href="#">Reports</a>
								</li>
								<li>
									<a href="#">Segments</a>
								</li>
								<li>
									<a href="#">Offers</a>
								</li>
								<li>
									<a href="#">Assets</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</section>
		<div id="shades"></div>
		<div id="main-container" class="container-fluid"></div>
		<script src="js/require.min.js" data-main="js/emmbb"></script>
		<script id="navigation-template" type="text/template">
			<ul>
				<% _.each(apps, function(app) { %>
				<li>
					<a href="<%= app.href(prefix) %>" class="<%= (app.apps) ? 'subnav-label' : '' %>">
						<%= app.name %>
					</a>
					<% 
					if (app.apps) {
						print(template({
							apps: app.apps,
							prefix: app.href(prefix) + '/',
							template: template
						}));
					} 
					%>
				</li>
				<% }); %>
			</ul>
		</script>
		<script id="home-template" type="text/template">
			<h2>Welcome</h2>
			<p><% somevar %></p>
		</script>
		<script id="textPage" type="text/x-handlebars-template">
			<h2><%= name %></h2>
			<p><%= content %></p>
		</script>
		<script id="campaignBuilder-template" type="text/x-handlebars-template">
			Hello Campaign Builder
		</script>
		<script id="blueprintDesigner-template" type="text/x-handlebars-template">
			Hello Blueprint Designer
		</script>
	</body>
</html>