<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-accessible.css">
		<link rel="stylesheet" href="css/bootstrap-rtl.css">
		<link rel="stylesheet" href="css/datepicker.css">
		<link rel="stylesheet" href="css/treeview.css">
		<link rel="stylesheet" href="css/emmbb.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta lang="en-US">
	</head>
	<body>
		<header role="banner" id="top" class="navbar navbar-fixed-top navbar-inverse">
		</header>
		<section id="sidebar">
			<nav role="navigation" id="navigation" class="side-nav"></nav>
		</section>
		<div id="shades"></div>
		<div id="main-container" class="container-fluid"></div>
		<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">Login</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" role="form" id="login">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-10">
									<div class="checkbox">
										<label>
											<input type="checkbox">
											Remember me
										</label>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button type="submit" class="btn btn-primary" for="login" data-dismiss="modal">
							Login
						</button>
					</div>
				</div>
			</div>
		</div>
		<script src="vendor/require.js"></script>
		<script>
			requirejs.config({
				paths: {
					"jquery": "vendor/jquery",
					"jquery-cookie": "vendor/jquery-cookie",
					"jquery-ui": "vendor/jquery-ui",
					"bootstrap": "vendor/bootstrap",
					"bootstrap-accessible": "vendor/boostrap-accessible",
					"underscore": "vendor/underscore",
					"backbone": "vendor/backbone",
					"i18next": "vendor/i18next",
					"datePicker": "vendor/bootstrap-datepicker",
					"emmbb": "emmbb/emmbb",
					"applications": "emmbb/applications",
					"init": "emmbb/init"
				},
				shim: {
					"jquery-cookie": {
						deps: ["jquery"]
					},
					"jquery-ui": {
						deps: ["jquery"]
					},
					"bootstrap": {
						deps: ["jquery"]
					},
					"bootstrap-accessible" : {
						deps: ["bootstrap"]
					},
					"datePicker": {
						deps: ["jquery", "bootstrap"]
					},
					"backbone": {
						deps: ["underscore"]
					},
					"i18next": {
						deps: ["jquery"]
					}
				}
			});
		
			require([
				"jquery",
				"bootstrap",
				"jquery-ui",
				"datePicker",
				"underscore",
				"backbone",
				"i18next",
				"emmbb",
				"applications",
				"init"
			]);
		</script>
		<script id="header-template" type="text/template">
			<div class="container-fluid">
				<button type="button" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><%= i18n('page.title') %></a>
				<ul class="nav navbar-nav navbar-right pull-right">
					<li class="dropdown">
						<a data-toggle="dropdown" role="button" href="#">
							<span data-i18n="page.account"><%= i18n('page.account') %></span>
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#" data-toggle="modal" data-target="#login-modal"><%= i18n('page.login') %></a>
							</li>
							<li>
								<a onclick="emmbb.accessibility.setLang('en')"><%= i18n('page.english') %></a>
							</li>
							<li>
								<a onclick="emmbb.accessibility.setLang('he')"><%= i18n('page.hebrew') %></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</script>
		<script id="navigation-template" type="text/template">
			<ul>
				<% _.each(apps, function(app) { %>
					<% if (!app.hidden) { %>
				<li>
					<a href="<%= app.apps() ? '#' : app.href(prefix) %>" class="<%= (app.apps()) ? 'subnav-label' : 'nav-link' %>">
						<%= i18n('applicationLabels.' + app.name) %>
						<% if (app.apps()) { %>
							<% if (emmbb.accessibility.rtl()) { %>
						<span class="glyphicon glyphicon-chevron-left pull-right subnav-icon"></span>
							<% } else { %>
						<span class="glyphicon glyphicon-chevron-right pull-right subnav-icon"></span>
						<% }} %>
					</a>
					<% if (app.apps()) {
						print(template({
							apps: app.apps(),
							prefix: '#/',
							template: template
						}));
					}
					%>
				</li>
					<% } %>
				<% }); %>
			</ul>
		</script>
		<script id="home-template" type="text/template">
			<div class="jumbotron">
				<h1><%= i18n('home.welcome') %></h1>
				<p><%= i18n('home.info') %></p>	
			</div>
		</script>
		<script id="complex-template" type="text/template">
			<%
			_.each(applications, function(app) {
				print(emmbb.applicationPartials(app.type, app.data));
			});
			%>
		</script>
		<script id="text-template" class="application-template" type="text/template">
			<h2><%= title %></h2>
			<p><%= content %></p>
		</script>
		<script id="table-template" class="application-template" type="text/template">
			<table class="table table-striped">
				<thead>
				<tr>
					<% _.each(headers, function(header) { %>
					<th><%= header %></th>
					<% }) %>
				</tr>
				</thead>
				<tbody>
					<% _.each(rows, function(row) { %>
					<tr>
						<% _.each(row, function(column) { %>
						<td>
							<%= column %>
						</td>
						<% }) %>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</script>
		<script id="accordion-template" type="text/template">
			<div class="panel-group" id="accordion">
				<% _.each(panels, function(panel) { %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= panel.title %></a></h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
						<div class="panel-body"><%= panel.content %></div>
					</div>
				</div>
				<% }) %>
			</div>
		</script>
		<script id="tree-template" type="text/template">
			<div class="css-treeview">
				<ul>
					<li>
						<input type="checkbox" id="item-0" />
						<label for="item-0">This Folder is Closed By Default</label>
						<ul>
							<li>
								<input type="checkbox" id="item-0-0" />
								<label for="item-0-0">Ooops! A Nested Folder</label>
								<ul>
									<li>
										<input type="checkbox" id="item-0-0-0" />
										<label for="item-0-0-0">Look Ma - No Hands!</label>
										<ul>
											<li>
												<a href="./">First Nested Item</a>
											</li>
											<li>
												<a href="./">Second Nested Item</a>
											</li>
											<li>
												<a href="./">Third Nested Item</a>
											</li>
											<li>
												<a href="./">Fourth Nested Item</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="./">Item 1</a>
									</li>
									<li>
										<a href="./">Item 2</a>
									</li>
									<li>
										<a href="./">Item 3</a>
									</li>
								</ul>
							</li>
							<li>
								<input type="checkbox" id="item-0-1" />
								<label for="item-0-1">Yet Another One</label>
								<ul>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
								</ul>
							</li>
							<li>
								<input type="checkbox" id="item-0-2" disabled="disabled" />
								<label for="item-0-2">Disabled Nested Items</label>
								<ul>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="./">item</a>
							</li>
							<li>
								<a href="./">item</a>
							</li>
							<li>
								<a href="./">item</a>
							</li>
							<li>
								<a href="./">item</a>
							</li>
						</ul>
					</li>
					<li>
						<input type="checkbox" id="item-1" checked="checked" />
						<label for="item-1">This One is Open by Default...</label>
						<ul>
							<li>
								<input type="checkbox" id="item-1-0" />
								<label for="item-1-0">And Contains More Nested Items...</label>
								<ul>
									<li>
										<a href="./">Look Ma - No Hands</a>
									</li>
									<li>
										<a href="./">Another Item</a>
									</li>
									<li>
										<a href="./">And Yet Another</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="./">Lorem</a>
							</li>
							<li>
								<a href="./">Ipsum</a>
							</li>
							<li>
								<a href="./">Dolor</a>
							</li>
							<li>
								<a href="./">Sit Amet</a>
							</li>
						</ul>
					</li>
					<li>
						<input type="checkbox" id="item-2" />
						<label for="item-2">Can You Believe...</label>
						<ul>
							<li>
								<input type="checkbox" id="item-2-0" />
								<label for="item-2-0">That This Treeview...</label>
								<ul>
									<li>
										<input type="checkbox" id="item-2-2-0" />
										<label for="item-2-2-0">Does Not Use Any JavaScript...</label>
										<ul>
											<li>
												<a href="./">But Relies Only</a>
											</li>
											<li>
												<a href="./">On the Power</a>
											</li>
											<li>
												<a href="./">Of CSS3</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="./">Item 1</a>
									</li>
									<li>
										<a href="./">Item 2</a>
									</li>
									<li>
										<a href="./">Item 3</a>
									</li>
								</ul>
							</li>
							<li>
								<input type="checkbox" id="item-2-1" />
								<label for="item-2-1">This is a Folder With...</label>
								<ul>
									<li>
										<a href="./">Some Nested Items...</a>
									</li>
									<li>
										<a href="./">Some Nested Items...</a>
									</li>
									<li>
										<a href="./">Some Nested Items...</a>
									</li>
									<li>
										<a href="./">Some Nested Items...</a>
									</li>
									<li>
										<a href="./">Some Nested Items...</a>
									</li>
								</ul>
							</li>
							<li>
								<input type="checkbox" id="item-2-2" disabled="disabled" />
								<label for="item-2-2">Disabled Nested Items</label>
								<ul>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
									<li>
										<a href="./">item</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		
		</script>
		<script id="form-template" class="application-template" type="text/template">
			<h2><%= title %></h2>
			<form id="<%= submit %>" role="form">
			<% _.each(fields, function(field) { %>
				<div class="form-group <%= typeof layout !== 'undefined' ? layout : '' %>">	
					<% if (field.name) { %>
					<label for="<%= field.name %>"><%= field.label %></label>
					<% } %>
					<% if (emmbb.formPartials(field.type)) {
						print(emmbb.formPartials(field.type, field));
					} else {
						print(emmbb.formPartials('default', field));
					} %>
					<% if (field.helper) { %>
					<p class="help-block"><%= field.helper %></p>
					<% } %>
				</div>
			<% }) %>
				<button type="submit" class="form-control btn btn-primary">Submit</button>
			</form>
		</script>
		<!-- form input templates -->
		<script id="group-form-template" class="form-template" type="text/template">
			<div class="form-section">
			<% _.each(fields, function(field) { %>
				<div class="form-group <%= typeof layout !== 'undefined' ? layout : '' %>">	
					<% if (field.name) { %>
					<label for="<%= field.name %>"><%= field.label %></label>
					<% } %>
					<% if (emmbb.formPartials(field.type)) {
						print(emmbb.formPartials(field.type, field));
					} else {
						print(emmbb.formPartials('default', field));
					} %>
					<% if (field.helper) { %>
					<p class="help-block"><%= field.helper %></p>
					<% } %>
				</div>
			<% }) %>
			</div>
		</script>
		<script id="default-form-template" class="form-template" type="text/template">
			<input type="<%= type %>" name="<%= name %>" class="form-control" aria-label="<%= name %>">
		</script>
		<script id="textarea-form-template" class="form-template" type="text/template">
			<textarea name="<%= name %>" class="form-control" aria-label="<%= name %>"></textarea>
		</script>
		<script id="select-form-template" class="form-template" type="text/template">
			<select class="form-control">
					<% _.each(options, function(option) { %>
				<option value="<%= option.value %>" aria-label="<%= name + ' ' + option.value %>"><%= option.label %></option>
					<% }) %>
			</select>
		</script>
		<script id="multi-form-template" class="form-template" type="text/template">
			<select multiple class="form-control">
					<% _.each(options, function(option) { %>
				<option value="<%= option.value %>" aria-label="<%= name + ' ' + option.value %>"><%= option.label %></option>
					<% }) %>
			</select>
		</script>
		<script id="radio-form-template" class="form-template" type="text/template">
		<% _.each(options, function(option) { %>
			<div class="radio">
				<label>
					<input type="radio" name="<%= field.options.name %>" value="<%= option.value %>" aria-label="<%= name %>">
					<%= option.label %>
				</label>
			</div>
		<% }) %>
		</script>
		<script id="checkbox-form-template" class="form-template" type="text/template">
		<% _.each(options, function(option) { %>
			<div class="checkbox">
				<label>
					<input type="checkbox" name="<%= option.name %>" value="" aria-label="<%= name %>">
					<%= option.label %>
				</label>
			</div>
		<% }) %>
		</script>
		<script id="date-form-template" class="form-template" type="text/template">
			<div class="input-group datepicker" data-date-format="mm-dd-yyyy" data-date="3-24-2014">
				<input type="date" readonly="" aria-disabled="false" value="3-24-2014" class="form-control date" aria-label="<%= name %>">
				<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		</script>
		<script id="error-template" type="text/template">
			<h1>Oops</h1>
			<p>Something went wrong when rendering this template, here is some more information that might be helpful:</p><code><%= message %></code>
		</script>
	</body>
</html>